body {
  margin: 0;

  font-family: "Merienda", cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  cursor: pointer;
  background-color: transparent;
  font-family: "Merienda", cursive;
}
